
h1{
    margin-top: 70px;
}
p {
    font-size: 18px;
}

.cursor {
    cursor: pointer;
}

.usuario {
    width: 70%;
}


input:checked {
    background-color: #141516 !important;
}

input,
select {
    cursor: pointer;
}
/*estilo que permite mostrar los campos validados con un borde de color rojo*/

.error {
    border: red solid 1px;
}


#inactivo{
    font-size: 15px;
    color: black;
    font-weight: bold;

}
#activo{
    color: rgb(34, 150, 204);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

#inactivo:hover{
    color: #e80b0b;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 576px) {
    h1.display-1{
        font-size: 80px;
    }
    
}

@media (max-width: 480px) {
    h1.display-1{
        font-size: 50px;
    }
    h2.display-3{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
}

